/*--
  To create a grid pattern define it in the $cols array.
  Then, call the .base--# class to use it, not only on .container, 
  but also in a nested .row !
  Obviously, you can't nest a .container in another one or within a .row, but you create a .row in a .kl-*.
  That's all !
--*/
@import 'variables';
@import 'mixin';

*{
  padding:0;
  margin:0;
}
*, *:before, *:after{
  box-sizing:border-box;
}

html{
  font-size:100%;
  -webkit-text-size-adjust: none;
}

.container{
  @include clearfix();
  margin: 0 auto;
  width: $container-width;
}

@each $val in $cols{
  @for $i from 1 through $val {
    .base--#{$val} .kl-#{$i}, .row.base--#{$val} .kl-#{$i} {
      width: ((100 / $val) * $i) * 1%;
    }
  }
}

.row{
  @include clearfix();
  //@include rem(margin-bottom, 10px);
  .row{
    @include rem(margin-left, -$gutter / 2);
    @include rem(margin-right, -$gutter / 2);
  }
}

.row + .row, .row .row{
  @include rem(margin-top, 10px);
}

[class^="kl-"]{
  background-clip: content-box;
  float:left;
  @include rem(min-height, 1px);
  @include rem(padding-left, $gutter / 2);
  @include rem(padding-right, $gutter / 2);  
}


/* -- Media Queries -- */

//--* Desktop *--//
@media (max-width: $screen-sm-desktop-max) {
  .container{width:100%}
  //body{background: salmon}
}
@media (min-width: $screen-tablet-max) and (max-width: $screen-sm-desktop-max) {
  //helper (when a .kl-* goes under another due to the float)
  .clear-left-smd{
    clear:left;
  }
}

//--* Tablet *--//
@media (max-width: $screen-tablet-max) {
  //body{background:aquamarine}

  .mg-top-tb{ 
    @include rem(margin-top, $gutter)
  }
  @each $val in $cols{
    // Set all to 100% if not overrided from a class from the loop below
    .base--#{$val} [class^="kl-"], .row.base--#{$val} [class^="kl-"]{width: 100%}

    // Loop to create the .kl-tb-* class
    @for $i from 1 through $val {
      .base--#{$val} .kl-tb-#{$i}, .row.base--#{$val} .kl-tb-#{$i} {
        width: ((100 / $val) * $i) * 1%;
      }
    }
  }
}
@media (min-width: $screen-phone-max) and (max-width: $screen-tablet-max) {
  //helper (when a .kl-* goes under another due to the float)
  .clear-left-tb{
    clear:left;
  }
}



//--* Mobile *--//
@media (max-width: $screen-phone-max) {
  //body{background:yellow}
  @each $val in $cols{
    // Set all to 100% if not overrided from a class from the loop below
    .base--#{$val} [class^="kl-"], .row.base--#{$val} [class^="kl-"]{width: 100%}

    // Loop to create the .kl-ph-* class
    @for $i from 1 through $val {
      .base--#{$val} .kl-ph-#{$i}, .row.base--#{$val} .kl-ph-#{$i} {
        width: ((100 / $val) * $i) * 1%;
      }
    }
  }
  //helper (when a .kl-* goes under another due to the float)
  .clear-left-ph{
    clear:left;
  }
}